<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
  title = __('archive_a');

  if (is_month()){
      title += ': ' + page.year + '/' + page.month;
  } else if (is_year()){
      title += ': ' + page.year;
  }
  } else if (is_category()){
  title = __('category') + ': ' + page.category;
  } else if (is_tag()){
  title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <!-- Custom styles for this template -->
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <%- css('css/blog.css') %>
</head>
